// Fonts

/*
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans CJK JP"),
	url(../common/fonts/NotoSansJP-Light.woff2) format('woff2'),
	url(../common/fonts/NotoSansJP-Light.woff) format('woff'),
	url(../common/fonts/NotoSansJP-Light.otf) format('opentype');
}
*/